@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: "DM Serif Display", sans-serif;
}
h1 {
    font-size: 28px;
}
body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
}
header {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.logo {
    display: block;
    width: 100%;
    align-self: center;
    padding: 10px 15px;
}
.icon {
    position: absolute;
    top: 5px;
    right: 15px;
}
.hide {
    display: none;
}
.nav-list {
    background: #000 url(../images/bg-pattern-mobile-nav.svg) bottom no-repeat;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.nav-list li {
    width: 50%;
    height: 40px;
    align-self: center;
    align-items: center;
    padding-top: 10px;
}
.nav-list a {
    width: 100%;
    text-align: left;
    color: #fff;
    align-items: center;
}
.nav-list li:hover {
    border: 1px solid #fff;
}
.section-one {
    background: hsl(256, 26%, 20%);
    position: relative;
    height: 850px;
}
.desktop, #nav{
    display: none;
}
.left {
    position: absolute;
    top: 450px;
    left: 0;
}
.right {
    position: absolute;
    bottom: -179px;
    right: 0px;
}
.first-section-text {
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 20px;
    color: #fff;
    padding: 20px;
}
.first-section-text button,
.rectangle button {
    height: 35px;
    width: 120px;
    align-self: center;
    background-color: hsl(256, 26%, 20%);
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
.second-section {
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    margin-top: 80px;
    text-align: center;
    gap: 20px;
}
.hr-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icons-div1 {
    display: flex;
    flex-direction: column;
}
.icon-div {
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.second-section img {
    width: 40px;
}
.rectangle {
    width: 320px;
    height: 250px;
    background: hsl(256, 26%, 20%) url(../images/bg-pattern-how-we-work-mobile.svg) top right no-repeat;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #fff;
    margin-bottom: 100px;
}
.rectangle button {
    margin: 20px 0;
}
footer {
    padding-top: 80px;
    height: 1150px;
    background: hsl(0, 0%, 98%) url(../images/bg-pattern-footer-mobile.svg) top no-repeat;
}
.footer-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-first ul {
    display: flex;
    gap: 20px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.feint {
    margin: 30px;
    color: hsl(216, 30%, 68%);
}
footer ul li {
    list-style: none;
    margin-bottom: 15px;
}
footer ul li a {
    text-decoration: none;
}
.footer-hr {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
@media screen and (min-width: 1024px) {
    header {
        min-height: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    h1 {
        font-size: 50px;
    }
    .hidden {
        display: block;
    }
    #nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }
    #nav li {
        height: 30px;
        width: 120px;
        padding-top: 5px;

    }
    #nav a {
        color: #000;
        text-decoration: none;
    }
    #nav li:hover {
        border: 1px solid hsl(256, 26%, 20%);
    }
    .hidden {
        display: block;
    }
    .icon, .mobile, .nav-list {
        display: none;
    }
    .desktop {
        display: block;
    }
    .section-one {
        height: 670px;
        display: flex;
        flex-direction: row-reverse;
        padding: 0 80px;
    }
    .intro {
        position: relative;
        top: 120px;
        right: 120px;
    }
    .left {
        display: none;
    }
    .left-d {
        position: absolute;
        bottom: -300px;
        left: 0;
    }
    .right-d {
        position: absolute;
        top: 0px;
        right: 0;
    }
    #first-line {
        width: 30%;
    }
    .first-section-text {
        align-items: flex-start;
        text-align: left;
        width: 100%;
        padding-right: 170px;
        height: 450px;
        margin: 0;
        margin-top: 80px;
    }
    .first-section-text button {
        height: 45px;
        width: 120px;
        background-color: hsl(256, 26%, 20%);
        border: 1px solid #fff;
        color: #fff;
        align-self: flex-start;
    }
    .first-section-text button,
    .rectangle button:hover {
        background-color: hsl(256, 26%, 20%);
        color: #fff;
    }
    .second-section {
        margin-top: 15em;
        height: 400px;
        padding: 0 80px;
        text-align: left;
        align-items: flex-start;
    }
    .icons-div1 {
        flex-direction: row;
    }
    .icon-div {
        align-items: flex-start;
    }
    .icon-div img {
        align-self: left;
        width: 80px;
    }
    .rectangle {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        background: hsl(256, 26%, 20%) url(../images/bg-pattern-how-we-work-desktop.svg) top right no-repeat;
        text-align: left;
        align-items: center;
        padding: 0 80px;
    }
    footer {
        background: hsl(0, 0%, 98%) url(../images/bg-pattern-footer-desktop.svg)left top no-repeat;
        height: 500px;
        padding: 50px 80px;
    }
    .footer-first {
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: flex-start;
    }
    .feint {
        margin-left: 0;
    }
    footer ul li a:hover {
        background-color: hsl(256, 26%, 20%);
        color: #fff;
    }
    .footer-first li {
        height: 25px;
        width: 25px;
    }
    .footer-first li:hover {
        background-color: hsl(256, 26%, 20%);
    }

}